.wizard > .content > .body{
padding: 0%;
}
.badge-info {
    /* color: #fff; */
    background-color: #ebedf3;
    color: #7e8299;
    /* padding: 0 .5rem; */
    margin: 2px 2px  !important;
}
.wizard > .content{
    background: none;
}
input{
    font-family: 'Montserrat', sans-serif;
}

.pointer{
    cursor: pointer;
}
#zero-config_wrapper > :nth-child(2){
    padding-bottom: 60px;
}
