.subscribe-form {
    width: 40%;
}
.home-search{
height: 45px !important;
}



@media screen and (max-width: 991px) and (min-width: 0px) {
.subscribe-form{
    display: none;
}
}
.post-rating > li:not(:last-child):after{
    display: none;
}
.trust-score-text{
    font-size: 17px;
}

.trust-score-text > strong{
    color: black;
    font-weight: 600;
}
