.subscribe-form {
    width: 40%;
}
.home-search{
height: 45px !important;
}

.post-rating > li:not(:last-child):after{
    display: none;
}
.trust-score-text{
    font-size: 17px;
}

.trust-score-text > strong{
    color: black;
    font-weight: 600;
}

.reply-review{
    /* width: 630px; */
    /* float: right; */
    margin-left: 120px;
}
.reply-review em{
    font-style: italic;
}

.card-categories{
    padding: 1rem !important;
    padding-top: 0px !important;
}

.card-title{
    font-size: 1.1rem;
    color: black;
}

.over-flow{
    text-overflow: ellipsis;

    /* Required for text-overflow to do anything */
    /* white-space: nowrap; */
    /* Wrap text in a <p> tag */


    display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


@media screen and (max-width: 991px) and (min-width: 0px) {
    .subscribe-form{
        display: none;
    }
    .reply-review{
        /* width: 630px; */
        /* float: right; */
        margin-left: 60px;
    }
}
.purple-text{
    color: #6f42c1;
}

.cursor-pointer{
    cursor: pointer;
}
